<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>Миссия колонизации Марса</h1>
    <h4>И на Марсе будут яблони цвести!</h4>

    <h4>Список профессий</h4>

    {% if title == 'ol' %}
        <ol>
        {% for i in list_prof %}
            <li>{{i}}</li>
        {% endfor %}
        </ol>
    {% else %}
        <ul>
        {% for i in list_prof %}
            <li>{{i}}</li>
        {% endfor %}
        </ul>
    {% endif %}

</body>
</html>